@model List<SEP.Framework.DAO.DTO.CategoryDto>

@{
    ViewData["Title"] = "Category";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <form asp-controller="Manage" asp-action="DeleteCategory" method="post">
                    <input id="model-input-id" name="categoryId" type="hidden">
                    <button class="btn btn-outline-danger btn-block" type="submit">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Managing Category</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="text-secondary">Table</li>
                    <li class="active">Category Data</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created By</th>
                                    <th>Created Date</th>
                                    <th><a class="btn btn-outline-dark btn-block" asp-controller="Manage" asp-action="CreateCategory" role="button">Create</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td>@category.Name</td>
                                        <td>@category.Description</td>
                                        <td>@category.CreatedBy</td>
                                        <td>
                                            <span class="badge badge-warning">@category.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                                        </td>
                                        <td class="manage-column">
                                            <a class="btn btn-outline-primary btn-block" asp-controller="Manage" asp-action="EditCategory"
                                               asp-route-categoryId="@category.Id" role="button">Edit</a>
                                            <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal" onclick="deleteConfirmModalWithId(@category.Id)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
</div><!-- .content -->
